h1 {

	color: black;
	font-size: 60px;
	font-family: 'Hyperspace', san-serif;
	text-transform: uppercase;
	padding-bottom: 96px;
	text-decoration: underline;

}

h2 {

	color: black;
	font-size: 60px;
	font-family: 'Hyperspace', san-serif;
	text-transform: uppercase;

}

h3 {

	color: black;
	font-size: 60px;
	font-family: 'Hyperspace', san-serif;	
	text-transform: uppercase;

}



body {

	max-height: 768px;
	max-width: 1366;
	font-size: 40px;
	font-family: 'Hyperspace', san-serif;
	color: black;
}

a, a:hover, a:visited {
	color: black !important;
}